body{
    width: 100%;
    height: 100vh;
    background: #262a2f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30%;
    padding: 25px 35px;
    background: #fff;
    border-radius: 10px;
    

}
.container p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;

}
.container input{
    width: 100%;
    height: 50px; 
    border: 1px solid black;
    border-radius: 5px;
    margin:10px 0 20px ;

}
.container button{
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor:pointer ;
    font-weight: 500;
    margin:20px 0;

}
#imgBox{
    width:200px
    border-radius:5px;
    max-height: 0;
    overflow:hidden;
    transition:max-height 1s;

}
#imgBox img{
    width:100%;
    padding: 10px;
}
#imgBox.show-img{
    max-height:300px;
    margin:10px auto;
    border: 1px solid #d1d1d1;

}

.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(0);
    }

    50%{
        transform: translate(0);
    }
    75%{
        transform: translate(-2px);
    }
    0%{
        transform: translate(2px);
    }
    100%{
        transform: translate(0);
    }


}